.pagination {
    display: flex;
    justify-content: center;
    &__item {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
        background-color: $white;
        border: 1px solid #ffd180;
        color: $text;
        font-weight: 500;
        &:hover {
            color: $text;
            background-color: #ffd180;
            text-decoration: none;
        }
        &-active {
            background-color: #ffd180;
        }
    }
}