@import "vars";
@import "libs";

// Секции
@import "header";
@import "menu";
@import "banners";
@import "offers";
@import "featured";
@import "info";
@import "footer";
@import "services";

// Элементы
@import "logo";
@import "title";
@import "breadcrumbs";
@import "desc";
@import "pagination";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.25;
	font-family: $mont;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.modal {
    &-content {
        width: auto;
        margin: auto;
    }
}

@font-face {
    font-family: Debby;
    src: url(../fonts/Debby.ttf);
}


@import "media"; // Always at the end
